<div class="w3-bar w3-black">
<p class="w3-large">
  <a href="/toyes/electrical" class="w3-bar-item w3-button">ELECTRICAL TOYES</a>
  <a href="/toyes/ride" class="w3-bar-item w3-button">RIDE TOYES</a>
  <a href="/toyes/teddy" class="w3-bar-item w3-button">TEDDY</a>
  <a href="/toyes/small" class="w3-bar-item w3-button">SMALL SIZE TOYES</a>
  <a href="/toyes/musical" class="w3-bar-item w3-button">MUSICAL INSTRUMENT TOYES</a>
  
</div>
<p>
<div class="divimg" class="left">
</div>
</p>
