
<h1>WELCOME TO TOYESWORLD</h1>

<div class="w3-bar w3-black">
<p class="w3-large">
  <a href="toyes/" class="w3-bar-item w3-button">TOYES</a>
  <a href="#" class="w3-bar-item w3-button">OFFERS</a>
  <a href="#aboutus" class="w3-bar-item w3-button">ABOUT-US</a>
  <a href="/contact" class="w3-bar-item w3-button">CONTACT-US</a>
  <a href="/login" class="w3-bar-item w3-button">LOGIN</a>
  <a href="/signup" class="w3-bar-item w3-button">SIGN-UP</a>
  <a href="#" class="w3-bar-item w3-button">LOGOUT</a>
  <a href="#" class="w3-bar-item w3-button">Visit toyesworld.com!</a>
  <a href="#" class="w3-bar-item w3-button">call on- 4446456444</a>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-linkedin"></a>
  <a href="#" class="fa fa-instagram"></a>
</div>

<div>

<div class="divimg" class="center">
</div>

<div>

<h3 id="aboutus">ABOUT US</h3>
Some time ago, there was a forlorn fighter who lived in a distant palace. He went through his days longing for having a lot of companions who might satisfy him. Until, one pivotal day, the King and Queen advised him to scour the universe looking for the best toy land ever; where he could welcome his future companions over.
 
In the awaken of successful finished many fantastical domains and earths, the toy harder at last found a world packed with fun games, exercises and the best toys the universe brings to the table. He named it "Solutiontoy." 

Before adequately long, youngsters from varying backgrounds plummeted upon this awesome world to play with the toy solider and become the companions he had consistently wanted. They lived joyfully ever later.
 
Coordinated by classes of toys like Amazing Minds, Early Years, Boys World, Girls World, Weens Lifestyle, Outdoor and Sports that cover all children from babies to twelve-year-old, the vast majority of Solutiontoy's toys meet American and European well being guidelines. From humble beginnings, the Solutiontoy brand developed to turn into a head of marked and claim to fame toys in Kuwait. Solutiontoy presently has six stores in Kuwait at various areas and is perceived as the best option for toys and offers the most recent, best and amplest scope of marked toys.<br>  
</div>


<div class="p1" class="center">
</div>
 <p>
 <h3>Terms & Conditions</h3>

<p>District 1 - WHAT DO WE DO WITH YOUR INFORMATION? <br>

Right when you buy something from our store, as a part of the trading structure, we gather the solitary data you give us, for example, your name, address and email address.<br>
Precisely when you investigate our store, we moreover typically recognize your PC's web show (IP) address to give us data that assists us with finding concerning your program and working framework.<br>
Email progressing (if material): With your consent, we might send you messages about our store, new things and different updates.<br>

Locale 2 - CONSENT<br>

How should you get my assent?<br>
Precisely when you give us individual data to finish an exchange, really check out your Mastercard, put in a sales, sort out for a development or return a buy, we prescribe that you agree to our get-together it and remembering it for that particular explanation for a way of talking.<br>
Expecting we request your own data for an optional explanation, for instance, advancing, we will either ask you obviously for your passed on assent, or outfit you with a chance to say no.<br>

Section 3 - DISCLOSURE<br>

We might uncover your own data expecting we are honestly essential to do everything considered obviously on the off chance that you excuse our Terms of Service.<br>


Piece 4 - SECURITY<br>

To ensure your own data, we avoid any unnecessary risk and follow industry best practices to promise it isn't improperly lost, misused, got to, uncovered, modified or obliterated.<br>
On the off chance that you outfit us with your Mastercard data, the data is blended utilizing secure association layer headway (SSL) and put away with an AES-256 encryption. However no technique for transmission over the Internet or electronic putting away is 100% secure, we follow all PCI-DSS necessities and execute extra routinely perceived industry rules.<br>

Segment 5 - AGE OF CONSENT<br>

By utilizing this site, you address that you are fundamentally the hour of greater part in your state or locale of home, or that you are the hour of greater part in your state or region of home and you have given us your agree to permit any of your minor wards to utilize this site.<br>

District 6-CHANGES TO THIS PRIVACY POLICY<br>

We stay aware of all situation to change this security strategy whenever, so kindly review it a huge piece of the time. Changes and explanations will make results quickly upon their posting on the site. Anticipating that we carry out material enhancements should this approach, we will tell you here that it has been restored, so you are natural what data we gather, how we use it, and under what conditions, hoping to be any, we utilize similarly as uncover it.<br>
Expecting our store is obtained or converged with another affiliation, your data might be moved to the new proprietors so we might keep on offering things to you.<br>

Section 7 - Cookies and Related Technologies,<br>

Blunder Toys utilizes treats, following pixels and related headways to give our associations to Advertisers. Treats are little information records that are served by our foundation and put away on your gadget.<br>

Following treats empower us to perceive your gadget when you move between various Digital Properties, so we can serve allocated lifting to you.<br>
Our Advertising Partners may in like way drop treats for the reasons depicted as of now. In general, the sort of treats dropped will differ subject to the Advertising Partner.<br>

District 8 - Your Choices and Opting-Out of Targeted Ads<br>

We perceive how basic your online affirmation is to you, so we offer the going with choices for controlling the doled out advertisements (now and again called "interest-based headways") you get and how we use your information.<br>

Halting this kind of publicizing through the under procedures won't keep you away from seeing progressions, yet those plugs will probably be less material considering the way that they won't be extraordinarily created to your inclinations. The progressions may, for example, be unpredictably made or considering the site page you are visiting.<br>

Segment 9 - Third party site joins<br>

The Site may contains relationship with different districts. If nobody truly minds regardless, understand that we are not in danger for the security practices of such different objections. We engage you when you give the Site to look at the security explanations of every single site you visit expecting you mean to give individual data to that site. Our security strategy applies exclusively to your own data that we collect on the Site.<br>

QUESTIONS AND CONTACT INFORMATION,<br>

Tolerating you might have to: access, right, adjust or kill any very close data we have about you, register a dissent, or basically need more data contact our Privacy Compliance Officer at support@ solutiontoy.Shop<br>

</p>
</div>




<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


   

<style>
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
  border-radius: 40%;
}


.fa-facebook {
  background: #3B5998;
  color: white;
 
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white
}

.fa-instagram {
  background: #125688;
  color: white;
}
</style>


  





