body{
    background-color: rgb(194, 78, 247);
}
h2 {text-align: center; color:rgb(13, 13, 133);
    font-weight: bold;}
.divimg {
    width: 20%;
     
     background: url('img2.jpg');
     height: 160px !important;
     display: block;
     margin-left: 20px;
     margin-right: auto;
   }
   
